APP_ENV=development
NEXT_PUBLIC_APP_NAME=CDTM Map
POSTGRES_DB=cdtm
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/cdtm
